@charset "UTF-8";
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.learn img {
  width: 100px;
  margin: 0 130px;
  width: 150px;
}

.parent {
  margin: 0 0 0 0;
}

.child {
  color: black;
  padding: 10px;
  height: 10px;
  float: right;
}

.header__btn {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.header__btn1 {
  width: 150px;
  padding: 15px 0;
  color: #fff;
  border-radius: 50px;
  background: #ee82ee;
  text-align: center;
  margin: 0 10px;
  display: block;
}

.header__btn2 {
  width: 150px;
  padding: 15px 0;
  color: #fff;
  border-radius: 50px;
  background: #ee82ee;
  text-align: center;
  margin: 0 10px;
  display: block;
  background: #6495ed;
}

.firstview {
  position: relative;
  object-fit: cover;
  width: 100%;
  margin: 0px;
  object-fit: cover;
}

.learn__logo {
  display: block;
  position: absolute;
  top: 50px;
  left: 700px;
}

.learn__background1 {
  display: block;
  position: relative;
  object-position: 0 150px;
  top: -130px;
}

.learn__ttl1 {
  position: absolute;
  top: 90px;
  left: 220px;
  font-size: 44px;
}

.learn__ttl2 {
  position: absolute;
  top: 270px;
  left: 220px;
  font-size: 15px;
}

.learn__btn {
  width: 300px;
  padding: 15px 0;
  color: #fff;
  border-radius: 50px;
  background: #ee82ee;
  text-align: center;
  display: block;
  position: absolute;
  left: 220px;
  top: 350px;
}

.ordermade {
  background-color: #fdf5e6;
  margin-top: 0px;
}

.ordermade__img img {
  width: 60%;
}

.ordermade__img {
  margin: 110px -55px;
}

.ordermade__ttl {
  position: absolute;
  left: 730px;
  top: 1050px;
}

.trouble {
  margin: 100px;
}

.trouble__ttl {
  font-size: 40px;
  text-align: center;
}

.trouble__img {
  display: flex;
  justify-content: center;
}

.trouble__img1 {
  margin: 0 20px;
}

.trouble__txt {
  display: flex;
  justify-content: center;
}

.trouble__txt1 {
  margin: 0 50px;
  font-size: 23px;
  text-align: center;
}

.solution {
  background-color: #fdf5e6;
  height: 1350px;
}

.solution__ttl {
  position: relative;
  text-align: center;
  top: 70px;
  font-size: 40px;
}

.solution__txtbox1 {
  margin: 100px 130px;
}

.solution__no1 {
  display: inline-block;
  color: #ee82ee;
  position: relative;
  top: -10px;
}

.solution__ttl1 {
  display: inline-block;
}

.solution__text1 {
  font-size: 14px;
  margin: 0 0 0 0;
}

.solution__img1 {
  position: absolute;
  top: 2300px;
  left: 650px;
}

.solution__txtbox2 {
  margin: 200px 700px;
  width: 700px;
}

.solution__no2 {
  display: inline-block;
  color: #ee82ee;
  position: relative;
  top: -10px;
}

.solution__ttl2 {
  display: inline-block;
}

.solution__text2 {
  font-size: 14px;
  margin: 0 0 0 0;
}

.solution__img2 {
  position: absolute;
  top: 2700px;
  left: 100px;
}

.solution__txtbox3 {
  margin: 100px 130px 0 100px;
}

.solution__no3 {
  display: inline-block;
  color: #ee82ee;
  position: relative;
  top: -10px;
}

.solution__ttl3 {
  display: inline-block;
}

.solution__text3 {
  font-size: 14px;
  margin: 0 0 0 0;
}

.solution__img3 {
  position: absolute;
  top: 3100px;
  left: 650px;
}

.feature {
  height: 400px;
}

.feature__ttl {
  position: relative;
  text-align: center;
  top: 70px;
  font-size: 40px;
}

.feature__item {
  display: flex;
  justify-content: space-between;
  margin: 100px 110px 0 110px;
}

.feature__box {
  width: 160px;
  box-shadow: 0px 3px 10px #ee82ee;
  border-radius: 30px;
}

.feature__img {
  position: relative;
  left: 29px;
  top: 20px;
}

.feature__text {
  text-align: center;
  font-weight: bold;
}

.banner {
  background-color: #ee82ee;
  height: 280px;
}

.banner__ttl {
  color: #fff;
  text-align: center;
  font-size: 25px;
  position: relative;
  top: 80px;
}

.banner__btn1 {
  width: 300px;
  padding: 15px 0;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 350px;
  top: 100px;
  margin: 10px;
  color: #fff;
  background: #6495ed;
}

.banner__btn2 {
  width: 300px;
  padding: 15px 0;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 350px;
  top: 100px;
  margin: 10px;
  color: #fff;
  background: #6495ed;
  color: #ee82ee;
  background: white;
}

.intro__company__ttl {
  text-align: center;
  margin: 70px;
  font-size: 40px;
}

.intro__company__item {
  display: flex;
  justify-content: space-between;
}

.intro__company__box {
  width: 30%px;
  box-shadow: 0px 3px 10px #dcdcdc;
  margin: 0 10px 0 0;
  border-radius: 30px;
}

.intro__company__img img {
  width: 260px;
  height: 200px;
  border-radius: 30px;
}

.intro__company__img::after {
  position: relative;
  top: -23px;
  left: 20px;
  padding: 0 10px;
  font-size: 14px;
  content: "建築";
  border: 1px solid #ee82ee;
  background-color: white;
}

.intro__company__content {
  padding: 5px 10px;
  background: white;
  margin-bottom: 15px;
  display: inline-block;
  color: black;
  font-size: 14px;
  border-radius: 30px;
}

.intro__company__text1 {
  font-size: 14px;
  text-align: left;
  margin: -10px 0 0;
}

.intro__company__text2 {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.cost {
  margin: 130px 220px;
}

.cost__ttl {
  text-align: center;
  margin: 70px;
  font-size: 40px;
}

.plan {
  margin: 0 auto;
}

.standardplan__f {
  width: 300px;
  box-shadow: 0px 3px 10px #dcdcdc;
  border-radius: 15px;
  float: left;
}

.standardplan__f__ttl1 {
  background: #6495ed;
  color: white;
  font-size: 15px;
  border-radius: 15px 15px 0 0;
  text-align: center;
  margin: 0px auto;
  font-weight: lighter;
  height: 30px;
}

.standardplan__f__ttl2 {
  background: #6495ed;
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.standardplan__f__text {
  text-align: center;
  font-size: 15px;
  margin: 25px;
  padding-bottom: 5px;
  line-height: 20px;
  border-bottom: solid 2px #dcdcdc;
}

.standardplan__f__btn {
  width: 250px;
  padding: 15px;
  border-radius: 50px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 30px;
  background: #dcdcdc;
}

.standardplan__10k {
  width: 300px;
  box-shadow: 0px 3px 10px #dcdcdc;
  border-radius: 15px;
  height: 380px;
  float: left;
  margin-top: -40px;
}

.standardplan__10k__ttl1 {
  background: #6495ed;
  color: white;
  font-size: 15px;
  border-radius: 15px 15px 0 0;
  text-align: center;
  margin: 0px auto;
  font-weight: lighter;
  height: 30px;
  background-color: #ee82ee;
}

.standardplan__10k__ttl2 {
  background: #6495ed;
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  background-color: #ee82ee;
}

.standardplan__10k__text {
  text-align: center;
  font-size: 15px;
  margin: 25px;
  padding-bottom: 5px;
  line-height: 20px;
  border-bottom: solid 2px #dcdcdc;
}

.standardplan__10k__btn {
  width: 250px;
  padding: 15px;
  border-radius: 50px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 30px;
  background: #dcdcdc;
}

.premiumplan {
  width: 290px;
  box-shadow: 0px 3px 10px #dcdcdc;
  border-radius: 15px;
  float: left;
}

.premiumplan__ttl1 {
  background: #6495ed;
  color: white;
  font-size: 15px;
  border-radius: 15px 15px 0 0;
  text-align: center;
  margin: 0px auto;
  font-weight: lighter;
  height: 30px;
}

.premiumplan__ttl2 {
  background: #6495ed;
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.premiumplan__text {
  text-align: center;
  font-size: 15px;
  margin: 25px;
  padding-bottom: 5px;
  line-height: 20px;
  border-bottom: solid 2px #dcdcdc;
}

.premiumplan__btn {
  width: 250px;
  padding: 15px;
  border-radius: 50px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 30px;
  background: #dcdcdc;
}

.question {
  margin-top: 560px;
}

.question__ttl {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.question__box {
  margin: 0 auto;
}

.question__ttlbox {
  border: solid 1px #ee82ee;
  border-radius: 15px;
  width: 750px;
  height: 60px;
  margin: 0 auto;
}

.question__ttl1 {
  color: #ee82ee;
  margin-left: 50px;
  margin-top: -5px;
  font-weight: bold;
}

.answer {
  margin: -30px 0 70px 338px;
  width: 700px;
}

.answer__text {
  font-weight: bold;
}

.question__ttlbox::before {
  content: "Q";
  display: block;
  position: relative;
  top: 17px;
  left: 20px;
  color: #ee82ee;
  font-weight: bold;
  font-size: 19px;
}

.question__ttlbox::after {
  content: "";
  display: block;
  position: relative;
  top: -35px;
  left: 710px;
  width: 7px;
  height: 7px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: translateX(-50%) rotate(135deg);
}

.answer::before {
  content: "A";
  display: block;
  position: relative;
  top: 43px;
  left: -25px;
  color: #6495ed;
  font-weight: bold;
  font-size: 19px;
}

.footer {
  margin-top: 100px;
}

.footer__img {
  position: relative;
  left: 100px;
}

.footer__text {
  margin: -80px 0 0 540px;
}

table td {
  text-align: left;
  padding: 14px 200px 0 0;
  width: 300px;
  font-weight: bold;
}

.copyright {
  font-size: 12px;
  position: relative;
  top: 30px;
  left: 610px;
}
